body {
  margin: 0 0 0 0;
  text-align: center;
}

/********navbar*********/
.navbar {
  font-size: 1.15rem;
  font-family: Helvetica, Sans-Serif;
  height: 60px;
  background-color: #C68B59;
}



.explain-nav{
  font-size: 1.2rem;
}

b{
  color: #E8F0F2;
  font-size: 0.9rem;
}




/*******title*****/



.title {
  padding-top: 10%;
  font-size: 7.5rem;
  font-style: italic;
  font-family: helvetica;
  color: #D7B19D;
}

.title-container {
  padding: 7% 5%;
  background-color: #865439;
  text-align: center;
}

.animation {
  animation-iteration-count: infinite;
  animation-name: logo;
  animation-duration: 4s;
}

.circul-title {
  border-radius: 100%;
  width: 70%;
  height: 100%;
}

@keyframes logo {
  0% {
    left: -2%;
  }

  50% {
    left: 6%;
  }

  100% {
    left: -2%;
  }
}

/* main-container */


.container{
  text-align:center;
    padding: 5%;
}

.map{
  margin-top: 1.5rem;
text-align: center;
  width: 20%;
  height: 25%;
}


.row{
  text-align: center;
  padding: 3%;
}

.padd   {
  padding: 3%;
}



.explain {
  padding: 8% 3% 3%;
  text-align: right;
  font-size: 1.8rem;

  color: #402218;
}


hr{

width: 17%;
}



/* footer */

.icon{
  height: 2rem;
  width: 2.2rem;
}


.pad{
  padding: 1% 0.7%;
}


.footer {
  text-align: center;
  margin-bottom: 0;
  padding-top: 1%;
  height: 3.5rem;
  background-color: #C68B59;
}

.contact {
  padding: 0 2%;
  color: #fff;
  font-size: 1rem;
}

.fff{
  color:#fff;

}

.fff:hover{
  color: #FFEAC9;
  text-decoration: none;
}

strong{
  color: #402218;
}
